<div class="card">
    <div class="card-header">
        Filtros
    </div>
    <div class="card-body">
        <form action="">
            <div class="form-group">
                <label for="de">De</label>
                <input type="number" name="" id="de" class="form-control"/>
            </div>
            <div class="from-group">
                <label for="ate">Até</label>
                <input type="number" name="" id="até" class="form-control"/>

                <button class="btn btn-primary btn-block btn-sm">Buscar</button>
            </div>
        </form>
    </div>
</div>
